@font-face {
  font-family: "pokemonhollow";
  src: url("./font/ph.ttf");
  font-family: "pokemonsolid";
  src: url("./font/ps.ttf");
  }

@font-face {
  font-family: "pokemonhollow";
  src: url("./font/ph.ttf");
  }

div {
  background-color: black;
  color: yellow;
  text-align: center;
}

h1 {
  font-family: 'pokemonhollow';
}

.header-logo {
  width: 800px;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 20px;
  font-family: 'pokemonsolid';
  font-size: smaller;
  letter-spacing: 1px;
}

.home-page {
  margin-top: 150px;
  margin-bottom: 100px;
  letter-spacing: 1.5px;
  font-family: 'pokemonsolid';
}

.home-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  font-family: 'pokemonsolid';
  font-size: 1em;
  background-color: yellow;
  border-radius: 15px;
  border-style: outset;
  margin-top: 50px;
  color: dodgerblue;
}

button:focus {
  outline: none;
  box-shadow: inset 0px 0px 8px rgb(215, 225, .8);
}

.home-button:hover {
  background-color: dodgerblue;
  color: yellow;
}